{
    "username": "root",
    "password": "root", # no effect for postgres
    "host": "localhost",
    "db_name": "tendril",
    "schema_name": "revision", # postgres only
    "table_name": "history",
    "type": "postgres"
}